<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.weipan.fb">

    <permission
        android:name="cn.weipan.fb.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.weipan.fb.permission.JPUSH_MESSAGE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.pos.permission.PRINTER" />
    <uses-permission android:name="com.pos.permission.SECURITY" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_DATETIME" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".common.AppContext"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <!-- since 3.3.0 Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!--User defined.  For test only 继承自cn.jpush.android.service.JCommonService-->
        <service android:name=".service.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".service.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.weipan.fb" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".service.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.weipan.fb" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".common.Appstart"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".act.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".act.BaseActivity" />
        <activity android:name=".act.BaseNoLoginActivity" />
        <activity android:name=".act.BaseBaseActivity" />
        <activity android:name=".act.GuideActivity" />
        <activity android:name=".act.InformationActivity" />
        <activity android:name=".act.LoginNewActivity" />
        <!--android:windowSoftInputMode="stateVisible|adjustResize"-->

        <activity android:name=".act.FeedBackActivity" />
        <activity android:name=".act.LoginPwd" />
        <activity android:name=".act.LoginRegisterActivity" />
        <activity android:name=".act.ReturnMoneyPwd" />
        <activity android:name=".act.NewMessage" />
        <activity android:name=".act.shouye.SaoMaActivity" />
        <activity android:name=".act.shouye.PosActivity" />
        <activity android:name=".act.shouye.TrueMoneyActivity" />
        <activity android:name=".act.shouye.PayMoneyActivity" />
        <activity android:name=".act.SettingActivity" />
        <activity android:name=".act.ReceivablesSuccessActivity" />
        <activity android:name=".act.SystemMessageActivity" />
        <activity android:name=".act.RegionSelectActivity" />
        <!--<service-->
        <!--android:name="cn.weipan.fb.service.SystemService"-->
        <!--android:enabled="true"-->
        <!--android:exported="true" />-->
        <activity android:name=".act.shouye.ZhiHuiMaActivity" />

        <activity android:name=".act.shouye.TuiKuanDanHao" />
        <activity android:name=".act.shouye.TuiKuanZhangDanXiangQing" />
        <activity android:name=".act.shouye.TuiKuanMiMaActivity" />
        <activity android:name=".act.shouye.HeXiaoSuccessActivity" />
        <activity android:name=".act.shouye.ShouKuanMaActivity" />
        <activity android:name=".act.JpushMessageActivity" />
        <activity android:name=".act.BoseWebActivity" />
        <activity android:name=".act.zhangdan.ShouKuanQuShiWebActivity" />
        <activity android:name=".act.zhangdan.NextWebActivity" />
        <activity android:name=".act.zhangdan.BaseZhangDanWebActivity" />
        <activity android:name=".act.BannerActivity" />
        <activity android:name=".act.shouye.ChoseShouKuanMaActivity" />
    </application>

</manifest>